
# Analysis of Visitor Visas Granted
This notebook contains the data extraction, cleaning, and analysis of the number of visitor visas granted, broken down by the top 15 citizenship countries, for various years from the provided Excel file.

In [191]:

import pandas as pd

# Load the data from the provided Excel file
file_path = "migration_trends_statistical_package_2021_22.xlsx"
sheet_2_4_data = pd.read_excel(file_path, sheet_name="2.4")

In [192]:

# Cleaning up the data
sheet_2_4_data_cleaned = sheet_2_4_data.iloc[4:].copy()
sheet_2_4_data_cleaned.columns = sheet_2_4_data_cleaned.iloc[0]
sheet_2_4_data_cleaned = sheet_2_4_data_cleaned.drop(sheet_2_4_data_cleaned.index[0])
sheet_2_4_data_cleaned.reset_index(drop=True, inplace=True)
sheet_2_4_data_final = sheet_2_4_data_cleaned.iloc[:10].copy()
sheet_2_4_data_final.set_index("Year", inplace=True)

# Resetting the index and renaming the first column to 'Year'
sheet_2_4_data_final.reset_index(inplace=True)
sheet_2_4_data_final.rename(columns={"Year": "4"}, inplace=True)
sheet_2_4_data_final.columns.name = None  # Removing the column's name

# Correcting the '4' to 'Year'
sheet_2_4_data_final = sheet_2_4_data_final.rename(columns={"4": "Year"})

In [193]:
# Step 1: Save the DataFrame to a .csv file
sheet_2_4_data_final.to_csv("visas_data.csv", index=False)

# Step 2: Import the .csv file into a new DataFrame
imported_data = pd.read_csv("visas_data.csv")

# Drop the 'Unnamed: 1' column from the DataFrame
imported_data = imported_data.drop(columns=["Unnamed: 1"])

In [194]:
imported_data

,Year,India,United Kingdom,United States of America,Singapore,People's Republic of China,Malaysia,France,Germany,Indonesia,Philippines,Canada,Vietnam,Republic of Korea,Nepal,Ireland,Other1,Total
0,2012–13,133566,545378,381197,170133,475589,215868,112602,140059,89209,44441,102718,30181,162687,5525,50381,1091106,3750640
1,2013–14,151405,548485,390102,194444,551937,267379,119986,145810,90134,46529,103707,32414,165719,7348,49494,1125355,3990248
2,2014–15,175343,557655,426856,203295,661855,292263,129967,151150,86086,52819,109441,39980,185077,8621,50438,1177261,4308107
3,2015–16,189221,586174,466030,236516,801761,327383,135984,159299,89403,67624,112554,49331,218295,10908,51686,1297004,4799173
4,2016–17,220952,622869,526605,244388,888584,356010,141759,173871,111187,86432,133858,63306,254115,14328,53026,1454394,5345684
5,2017–18,268194,630761,564874,238333,954264,332224,147989,177336,106747,96851,143514,75945,279329,18872,53974,1549960,5639167
6,2018–19,280344,591171,621954,236526,938136,337481,145985,178626,112762,107091,148685,72852,276789,25934,55848,1556134,5686318
7,2019–20,222785,479662,455029,154285,544817,213531,114375,139411,72337,73726,114560,56001,189910,23796,44976,1157402,4056603
8,2020–21,29502,9029,6323,5614,38844,3622,1608,1553,2592,9069,1948,6124,7388,4303,822,39235,167576
9,2021–22,200325,160841,97628,95829,44348,39960,35276,32662,32106,28187,27351,25167,24912,18766,18260,250272,1131890

In [195]:
# Ensure that the 'Total' column and other relevant columns are numeric
imported_data['Total'] = pd.to_numeric(imported_data['Total'], errors='coerce')

# Convert other columns to numeric as well, excluding the 'Year' column
for col in imported_data.columns:
    if col != 'Year':
        imported_data[col] = pd.to_numeric(imported_data[col], errors='coerce')

# Now, calculate the probabilities for each country in relation to the 'Total' column for every year
probabilities_df = imported_data.drop(columns=['Year', 'Total']).div(imported_data['Total'], axis=0)

# Add the 'Year' column back for reference
probabilities_df['Year'] = imported_data['Year']

# Reorder columns to place 'Year' at the beginning
column_order = ['Year'] + [col for col in probabilities_df if col != 'Year']
probabilities_df = probabilities_df[column_order]

In [196]:
probabilities_df

,Year,India,United Kingdom,United States of America,Singapore,People's Republic of China,Malaysia,France,Germany,Indonesia,Philippines,Canada,Vietnam,Republic of Korea,Nepal,Ireland,Other1
0,2012–13,0.035612,0.145409,0.101635,0.045361,0.126802,0.057555,0.030022,0.037343,0.023785,0.011849,0.027387,0.008047,0.043376,0.001473,0.013433,0.290912
1,2013–14,0.037944,0.137456,0.097764,0.048730,0.138321,0.067008,0.030070,0.036542,0.022589,0.011661,0.025990,0.008123,0.041531,0.001841,0.012404,0.282026
2,2014–15,0.040701,0.129443,0.099082,0.047189,0.153630,0.067840,0.030168,0.035085,0.019982,0.012260,0.025404,0.009280,0.042960,0.002001,0.011708,0.273266
3,2015–16,0.039428,0.122141,0.097106,0.049283,0.167062,0.068217,0.028335,0.033193,0.018629,0.014091,0.023453,0.010279,0.045486,0.002273,0.010770,0.270256
4,2016–17,0.041333,0.116518,0.098510,0.045717,0.166225,0.066598,0.026518,0.032525,0.020799,0.016169,0.025040,0.011842,0.047536,0.002680,0.009919,0.272069
5,2017–18,0.047559,0.111854,0.100170,0.042264,0.169221,0.058914,0.026243,0.031447,0.018930,0.017175,0.025450,0.013467,0.049534,0.003347,0.009571,0.274856
6,2018–19,0.049301,0.103964,0.109377,0.041596,0.164981,0.059350,0.025673,0.031413,0.019830,0.018833,0.026148,0.012812,0.048676,0.004561,0.009821,0.273663
7,2019–20,0.054919,0.118242,0.112170,0.038033,0.134304,0.052638,0.028195,0.034366,0.017832,0.018174,0.028240,0.013805,0.046815,0.005866,0.011087,0.285313
8,2020–21,0.176051,0.053880,0.037732,0.033501,0.231799,0.021614,0.009596,0.009267,0.015468,0.054119,0.011625,0.036545,0.044087,0.025678,0.004905,0.234133
9,2021–22,0.176983,0.142099,0.086252,0.084663,0.039180,0.035304,0.031166,0.028856,0.028365,0.024903,0.024164,0.022234,0.022009,0.016579,0.016132,0.221110

In [197]:
# Load the data from the provided Excel file
sheet_2_1_data = pd.read_excel(file_path, sheet_name="2.1")

In [198]:

# Cleaning up the data
sheet_2_1_data_cleaned = sheet_2_1_data.iloc[5:].copy()
sheet_2_1_data_cleaned.columns = sheet_2_1_data_cleaned.iloc[0]
sheet_2_1_data_cleaned = sheet_2_1_data_cleaned.drop(sheet_2_1_data_cleaned.index[0])
sheet_2_1_data_cleaned.reset_index(drop=True, inplace=True)
sheet_2_1_data_final = sheet_2_1_data_cleaned.iloc[:10].copy()
sheet_2_1_data_final.set_index("Year", inplace=True)

# Resetting the index and renaming the first column to 'Year'
sheet_2_1_data_final.reset_index(inplace=True)

In [199]:
#sheet_2_1_data_final

In [200]:
# Step 1: Save the DataFrame to a .csv file
sheet_2_1_data_final.to_csv("visas_data1.csv", index=False)

# Step 2: Import the .csv file into a new DataFrame
imported_data2 = pd.read_csv("visas_data1.csv")

# Drop the 'Unnamed: 1' column from the DataFrame
imported_data2 = imported_data2.drop(columns=["Unnamed: 1"])

In [201]:
imported_data2

,Year,Temporary Resident (Skilled Employment),Visitors,Temporary Graduate,Student,Working Holiday Maker,All other visas,No previous visa held or known,Total,Temporary Resident (Skilled Employment).1,...,No previous visa held or known.1,Total.1,Temporary Resident (Skilled Employment).2,Visitors.2,Temporary Graduate.2,Student.2,Working Holiday Maker.2,All other visas.2,No previous visa held or known.2,Total.2
0,2012–13,7.077424,33.974487,0.319626,3.978197,2.942268,1.760794,49.947205,100,21.462102,...,0.014950,100,14.102152,23.448588,3.457641,16.016412,15.709780,1.702538,25.562889,100
1,2013–14,7.927236,33.128161,0.948759,5.441643,2.595366,3.344180,46.614655,100,20.951877,...,0.003783,100,14.555536,21.511773,5.566145,18.013439,14.470822,2.988121,22.894164,100
2,2014–15,8.566614,30.835216,0.892276,4.300540,2.313024,4.553288,48.539042,100,26.667200,...,0.003998,100,17.422005,20.488998,2.660147,17.097311,12.786308,4.751100,24.794132,100
3,2015–16,8.302703,30.547027,0.419459,3.662703,2.417297,5.171892,49.478919,100,31.728783,...,0.000000,100,19.795132,20.220289,1.502368,15.611852,11.979293,5.685648,25.205419,100
4,2016–17,7.666530,31.487536,0.269718,2.897425,2.223130,5.888843,49.566817,100,29.164016,...,0.000000,100,17.846386,21.348967,1.953528,14.117900,11.891136,6.746988,26.095095,100
5,2017–18,6.903688,32.549748,0.233484,2.377288,1.899708,6.638366,49.397718,100,28.786616,...,0.173066,100,16.814724,22.638332,2.580851,11.554317,11.322069,7.986414,27.103292,100
6,2018–19,7.139200,31.339880,0.381626,1.838321,2.136175,9.452227,47.712570,100,32.872200,...,0.055741,100,19.458528,21.103321,3.282308,8.534485,12.551855,10.172000,24.897504,100
7,2019–20,7.226701,32.095885,0.523264,1.788997,2.503182,10.062226,45.799745,100,46.055213,...,0.021020,100,26.729781,19.807137,3.962835,6.486239,10.934750,9.273598,22.805659,100
8,2020–21,6.988848,38.717472,0.780669,1.672862,1.431227,5.873606,44.535316,100,57.509281,...,0.033750,100,45.772519,11.473357,8.433371,8.329735,9.119959,6.498834,10.372226,100
9,2021–22,9.161102,24.200056,0.869505,2.121592,1.641625,5.043127,56.962994,100,53.330318,...,0.401447,100,33.525669,11.761587,9.107355,8.792340,4.803194,6.247271,25.762585,100

In [206]:
import pandas as pd

imported_data2['Percentage_Difference'] = ((imported_data2['Working Holiday Maker.2'] - imported_data2['Visitors.2'] ) / imported_data2['Working Holiday Maker.2']) * 100

print(imported_data2[['Visitors.2', 'Working Holiday Maker.2', 'Percentage_Difference']])

   Visitors.2  Working Holiday Maker.2  Percentage_Difference
0   23.448588                15.709780             -49.261084
1   21.511773                14.470822             -48.656200
2   20.488998                12.786308             -60.241701
3   20.220289                11.979293             -68.793674
4   21.348967                11.891136             -79.536819
5   22.638332                11.322069             -99.948718
6   21.103321                12.551855             -68.129107
7   19.807137                10.934750             -81.139363
8   11.473357                 9.119959             -25.804924
9   11.761587                 4.803194            -144.870130

In [207]:
print("Original values for 'India':")
print(probabilities_df['India'])

probabilities_df['India'] *= (1 + imported_data2['Percentage_Difference'].values / 100)

print("\nModified values for 'India':")
print(probabilities_df['India'])

Original values for 'India':
0    0.052238
1    0.055383
2    0.063659
3    0.064794
4    0.071846
5    0.090779
6    0.080196
7    0.095236
8    0.211857
9    0.344938
Name: India, dtype: float64

Modified values for 'India':
0    0.026505
1    0.028436
2    0.025310
3    0.020220
4    0.014702
5    0.000047
6    0.025559
7    0.017962
8    0.157187
9   -0.154774
Name: India, dtype: float64

In [208]:
# Adjusting all columns with the percentage difference
for column in probabilities_df.columns:
    if column != 'Year':
        probabilities_df[column] *= (1 + imported_data2['Percentage_Difference'].values / 100)

# Normalizing the probabilities for each year
probabilities_df.set_index('Year', inplace=True)
probabilities_df = probabilities_df.div(probabilities_df.sum(axis=1), axis=0)
probabilities_df.reset_index(inplace=True)

print(probabilities_df)

      Year     India  United Kingdom  United States of America  Singapore  \
0  2012–13  0.027205        0.146677                  0.102521   0.045756
1  2013–14  0.029223        0.138702                  0.098650   0.049172
2  2014–15  0.026319        0.131384                  0.100567   0.047896
3  2015–16  0.021163        0.124463                  0.098953   0.050220
4  2016–17  0.015593        0.119647                  0.101155   0.046944
5  2017–18  0.000051        0.117433                  0.105166   0.044372
6  2018–19  0.027037        0.106399                  0.111939   0.042570
7  2019–20  0.019466        0.122678                  0.116378   0.039460
8  2020–21  0.166278        0.054519                  0.038180   0.033899
9  2021–22 -0.309369        0.226071                  0.137222   0.134693

   People's Republic of China  Malaysia    France   Germany  Indonesia  \
0                    0.127907  0.058057  0.030284  0.037668   0.023992
1                    0.139575  0.067615  0.030342  0.036873   0.022793
2                    0.155933  0.068857  0.030620  0.035611   0.020282
3                    0.170239  0.069514  0.028874  0.033824   0.018983
4                    0.170688  0.068386  0.027230  0.033399   0.021358
5                    0.177662  0.061852  0.027552  0.033016   0.019874
6                    0.168845  0.060740  0.026274  0.032149   0.020295
7                    0.139342  0.054612  0.029252  0.035656   0.018501
8                    0.234549  0.021870  0.009709  0.009377   0.015651
9                    0.062334  0.056166  0.049582  0.045908   0.045127

   Philippines    Canada   Vietnam  Republic of Korea     Nepal   Ireland  \
0     0.011952  0.027626  0.008117           0.043754  0.001486  0.013550
1     0.011766  0.026226  0.008197           0.041907  0.001858  0.012516
2     0.012444  0.025784  0.009419           0.043604  0.002031  0.011883
3     0.014359  0.023899  0.010475           0.046351  0.002316  0.010975
4     0.016603  0.025713  0.012160           0.048813  0.002752  0.010186
5     0.018031  0.026719  0.014139           0.052004  0.003514  0.010049
6     0.019274  0.026760  0.013112           0.049816  0.004668  0.010051
7     0.018856  0.029300  0.014323           0.048571  0.006086  0.011503
8     0.054761  0.011762  0.036978           0.044610  0.025982  0.004963
9     0.039618  0.038443  0.035374           0.035015  0.026377  0.025666

     Other1
0  0.293448
1  0.284583
2  0.277363
3  0.275394
4  0.279374
5  0.288566
6  0.280072
7  0.296016
8  0.236910
9  0.351772